body {
	font-family: Georgia, 'Arial', 'Helvetica Neue', 'Optima',
	'Hiragino Sans GB', 'STSong', 'Songti SC', 'SimSun', '宋体', 'Microsoft YaHei',
	'STKaiti', 'Kai', 'Kaiti SC', 'KaiTi_GB2312', '楷体', ‘Noto Serif SC’, sans-serif;
	font-weight: 400;
}
code {
  font-family: 'Courier', 'Courier New', 'Monaco', 'Menlo', monospace;
  font-size: 17px;
}
