body {
	font-family: Optima, -apple-system, Georgia, Arial,
	'Songti SC', 'SimSun', 'Hiragino Sans GB','宋体', 'Microsoft YaHei',
	'STKaiti', 'Kai', 'Kaiti SC', 'KaiTi_GB2312', '楷体', sans-serif;
	font-weight: 400;
}
code {
  font-family: 'Courier', 'Courier New', 'Monaco', 'Menlo', monospace;
  font-size: 17px;
}
