{{ partial "header.html" . }}
<main class = "content" role="main">
<div style="text-align: center">
  {{ if not .IsHome }}
  <h1>{{ .Title }}</h1>
  <p>{{ with .Params.author }}{{ . }}{{ end }} 
  {{ if .Params.date }} / {{ .Date.Format "2006-01-02" }} {{ end }}</p>
  {{ end }}
</div>

{{ if .Params.toc }}
<aside class="toc">
Table of Contents:
{{ .TableOfContents }}
</aside>
{{ end }}

<div class="body-text list-text">
{{ .Content | partial "add-header-anchors" }}
{{ $tags := .Params.tags }}
{{ if $tags }}
  {{ if not (reflect.IsSlice $tags) }}
    {{ $tags = slice $tags }}
  {{ end }}
  {{ range $tags }}
    <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/">#{{ . }}</a>
  {{ end }}
{{ end }}
<p style="color:#777;">
  {{ i18n "lastupdate" }} {{ .Lastmod.Format "2006-01-02" }}
  {{ if .Site.Params.GithubRepo }}
    • <a href="{{ .Site.Params.GithubRepo }}/blob/main/content/{{ .Lang }}/{{ .File.Path }}" target="_blank">{{ i18n "edit" }}</a>
  {{ end }}
</p>

</div>

<div class="pagination">
  {{ with .PrevInSection }}
  <a class="prev" href="{{ .Permalink }}">← Prev: {{ .Title }}</a>
  {{ end }}
  {{ with .NextInSection }}
  <a class="next" href="{{ .Permalink }}">Next: {{ .Title }} →</a>
  {{ end }}
</div>

</main>

{{ partial "footer.html" . }}

{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}


